/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #111; /* Background of the track */
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #fff; /* Color of the thumb */ /* Rounded corners */
  max-height: 50px;
  margin: 1px;
  width: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 208, 0); /* Color of the thumb on hover */
}
.gm-style > div > div > a[href*="maps/about/"] {
  display: none !important;
}

.gm-style > div > div > a[href*="support.google.com"] {
  display: none !important;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: #fff;
}